:root {
    --search-bar-height: 3rem;
    --option-bar-width: 6rem;
    --left-side-bar-width: 30rem;
}

.chatPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex: relative;
}

.chat-right-page {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* .profil-image {
    height: 3rem;
    width: 3rem;
} */

.profil-image.chat-small-user-image {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.chat-users-list-add-user-by-id{
    overflow-y: auto;
}