:root {
  --widthCanvas: "1";
  --heightCanvas: "1";
}


.game-container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.game-canvas {
  position: absolute;
  top: 0;
  height: calc(100vh - (var(--header-size) + var(--footer-size)));
  background-color: black;
  width: 100%;
}

.paddle1,
.paddle2 {
  position: absolute;
  width: 1%;
  height: 15%;
  background-color: var(--light-color);
}

.paddle1 {
  left: 1%;
}

.paddle2 {
  right: 1%;
}

.score {
  color: rgb(115, 121, 69);
  font-size: calc(5vw + 5vh);
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.parentscore {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 15%, rgba(70,252,189,1) 58%);
  border-radius: 50%;
}