:root {
  --widthCanvas: "1";
  --heightCanvas: "1";
}


.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game-canvas {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.paddle1,
.paddle2 {
  position: absolute;
  width: 1%;
  height: 15%;
  background-color: var(--light-color);
}

.paddle1 {
  left: 1%;
}

.paddle2 {
  right: 1%;
}

.parentscore {
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score { 
  color: rgb(115, 121, 69);
  font-size: calc(5vw + 5vh);
  white-space: nowrap;
}


.ball {
  z-index: 3;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}