.page-history {
  width: 100%;
  top: var(--header-size);
  bottom: var(--footer-size);
  height: calc(100vh - (var(--header-size) + var(--footer-size)));
}

.history-title {
  color:rgb(209, 209, 209);
  border-bottom: 3px solid rgb(209, 209, 209);
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: bold;
} 
  
.score-block {
  border-radius: 15px;
  background-color: rgb(48, 62, 121);
  width: 15rem;
  color:rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  height: 6.5rem;
  display: block;
}

.score-board {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.status {
  padding-left: 7.5px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.image {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 50%;
}

.score {
  display: flex;
  justify-content: center;
  text-align: center;
}

.player {
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.player > p{
  margin: 0;
}

.no-game-played{
  margin: 2rem;
  color:rgb(209, 209, 209);
  font-size: 1.5rem;
  font-weight: bold;
}

.scrollBlock {
  overflow: auto;
  max-height: 94%;
}

