.page-history {
  /* 
  position: fixed;
  */
  width: 100%;
  top: var(--header-size);
  bottom: var(--footer-size);
  /* background-color: aquamarine; */
  height: calc(100vh - (var(--header-size) + var(--footer-size)));
}

.history-title {
  border-bottom: 3px solid var(--colorside);
  /* margin: 3rem, 0; */

  width: 100%;
  display: flex;
} 
  
.score-block {
  /* background-color: rgb(255, 30, 30);
  color: white;
  padding: 10px;
  height: 4rem; */
  background-color: rgb(255, 30, 30);
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  height: 4rem;
}

.score-board {
  /* margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.score-text {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.score {
  font-size: 1rem;
  margin-top: 1px;
}

.scrollBlock {
  overflow: auto;
  max-height: 94%;
}

@media only screen and (max-width: 900px) {
  .media {
    width: 70%;
    height: 70%;
  }
}