
.game-waiting-settings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 3rem;
    font-size: 2rem;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.button {
    padding: 1rem 2rem;
    margin: 0 1rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}

.selected {
    background-color: #bd4e4e;
    color: #fff;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.enter {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.2rem;
    }

    .title-choice {
        font-size: 1.2rem;
    }

    .button {
        padding: 0.8rem 1.6rem;
        margin: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .enter {
        margin: 1.5rem auto;
        padding: 0.8rem 1.6rem;
        font-size: 1.5rem;
    }
}
  