.notific 
{
    background-color: red;
    color: white;
    padding: 1em;
    top:0;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}