@import url("popupTemplate.css");

.score-board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


  .score-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 70px;
  }
  
  .score-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .score {
    font-size: 18px;
    margin-top: 5px;
  }

  .scrollBlock {
    overflow: auto;
    max-height: 94%;
    background-color: #515151;
  }


  .popup.left {
    left: 0;
}
  