.formFriend {
    left: 10px;
    width: calc(100% - 20px);
    border: 3px solid green;
    flex-direction: row-reverse;
}

.colorTextFriend {
    color: blueviolet;
}

.accueil {
    overflow-y: scroll;
    width: 100%;
}