

:root {
  --widthCanvas: "1";
  --heightCanvas: "1";
}


.game-container {
  position: absolute;
  margin: 0 auto;
}

.game-canvas {
  position: absolute;
  top: 0;
  height: calc(100vh - (var(--header-size) + var(--footer-size)));;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
}

.paddle1,
.paddle2 {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: white;
}

.paddle1 {
  left: 20px;
}

.paddle2 {
  right: 20px;
}

.ball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}