

:root {
  --widthCanvas: "1";
  --heightCanvas: "1";
}


.game-container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.game-canvas {
  position: absolute;
  top: 0;
  height: calc(100vh - (var(--header-size) + var(--footer-size)));
  background-color: black;
  width: 100%;
}

.paddle1,
.paddle2 {
  position: absolute;
  width: 1%;
  height: 15%;
  background-color: white;
}

.paddle1 {
  left: 1%;
}

.paddle2 {
  right: 1%;
}



.ball {
  object-fit: contain;
  width: 2%;
  height: 2%;
  background-color: white;
  border-radius: 50%;
}