.navbar {
    position:fixed;
    width: 100%;
    height: var(--header-size);
    top:0px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .title h3 {
    color: #fff;
  }
  
  .navbar__link {
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border: none;
    cursor: pointer;
    margin-right: 40px;
  }

  .footer {
    position: fixed;
    width: 100%;
    background-color: #333;
    height: var(--footer-size);
    bottom: 0px;
    text-align: center;
  }
  
  .main-template {
    height: calc(100vh - (var(--footer-size) + var(--header-size)));
    top:var(--header-size);
    position: absolute; 
    /* width: calc(100% - 401px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .page {
    overflow: hidden;
  }
