.navbar {
  position:fixed;
  width: 100%;
  height: var(--header-size);
  top:0px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

  .title h3 {
    color: #fff;
  }
  
  .navbar__link {
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border: none;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .main-template {
    position: absolute; 
    /* top: var(--header-size); */
    height: calc(100vh - (var(--footer-size) + var(--header-size)));
    top:var(--header-size);
    width: var(--main-width);
  }
  
  .page {
    overflow: hidden;
  }
  
