.navbar {
    position: fixed;
    width: 100%;
    top:0px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
  }
  
  .title h3 {
    color: #fff;
  }
  
  .navbar__link {
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border: none;
    cursor: pointer;
    margin-right: 40px;
  }

  .footer {
    position: fixed;
    width: 100%;
    background-color: #333;
    height: 6vh;
    bottom: 0px;
    text-align: center;
    padding: 20px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
}

  .corps-template {
    position: fixed;
    bottom: 6vh;
    top: 10vh;
    width: 100%;
  }
