.chat-scroll-converation{
    overflow: auto;
    max-height: calc(100vh - var(--header-size) - var(--search-bar-height));
    display: flex;
    flex-direction: column-reverse;
}

.profil-image.chat-message-image-profil{
    width: 4rem;
    height: 4rem;
}

.profil-image.chat-message-image-profil > .profil-status{
    border: 0.25rem solid var(--background-color);
}

.chat-my-message, .chat-other-message{
    color: var(--light-color);
    margin: 2em;
    display: flex;
}

.chat-message-header-and-content{
    margin-left: 0.5rem;
}

.chat-header-of-message{
    display: flex;
}

.chat-header-username{
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.chat-header-date{
    opacity: 0.5;
}

.chat-content-message{
    font-size: 1.125rem;
    opacity: 0.8;
}