.chatSideBar {
	width: var(--left-side-bar-width);
	background-color: var(--box-color);
	color: var(--light-color);
}

.chat-side-bar-channel{
	background-color: var(--background-color);
	border-radius: 50px;
	justify-content: center;
	height: 2.5rem;
	margin: 0.5rem;
	cursor: pointer;
	padding-left: 0.5rem;
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
}