/* @import url("../popupTemplate.css"); */


:root {
  --colorside: #b8b7b7;
}

.close-button {
  position: absolute;
  right: 7px;
  background-color: rgb(189, 39, 39);
  color: white;
  border: none;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
}


.popup {
  background-color: #ff0000;
  position: fixed;
  position: fixed;
  top: var(--header-size);
  bottom: var(--footer-size);
  width: 100%;
  height: calc(100vh - (var(--header-size) + var(--footer-size)));
}

.popup_up {
  border-bottom: 1px solid var(--colorside);
  margin-top: 10px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
} */
  
.close-button {
    position: absolute;
    right: 7px;
    background-color: rgb(189, 39, 39);
    color: white;
    border: none;
    padding: 6px;
    border-radius: 20px;
    cursor: pointer;
}

.score-block {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
}

.score-board {
  /* overflow: auto; 
  height: 100%;
  width: 100%;
  width: 0;  */
  z-index: 1;

  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.score-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.score {
  font-size: 18px;
  margin-top: 5px;
}


.scrollBlock {
  overflow: auto;
  max-height: 94%;
  background-color: #515151;
}

.popup.left {
  left: 0;
}
