.notific 
{
    background-color: red;
    color: var(--light-color);
    padding: 1em;
    top:100;
    z-index: 120;
    left:50%;
    transform: translate(-50%);
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}